<h1> Hello <%= @user.email %> </h1>

<h2> Your last games </h2>
<div class="game_procent"> <%= "#{@finished.round(2)}" %> % games finished </div>

<table class="user_games">
  <tr>
    <th>Start at </th>
    <th>Level </th>
    <th>Finished </th>
  </tr>
  <% @games.each do |game|%>
    <tr>
      <td><%= game.created_at.strftime("%m-%d-%Y  %H:%M ") %></td>
      <td><%= game.level %></td>
      <td>
        <% if game.finished %>
          Yes
        <% else %>
          No
        <% end %>
      </td>
      <td><%= link_to "Show game", game_path(game) %></td>
    </tr>
  <% end %>
</table>
<div class="paginating">
  <%= will_paginate @games %>
</div>
