<h1> Hello <%= @user.email %> </h1>
<%= link_to "Logout", destroy_user_session_path, method: :delete %>

<h2 class="user_title"> Your last games </h2>
<div class="game_procent"> <%= "#{format('%.2f', @finished)}" %> % games finished </div>
<table class="user_games">
  <tr>
    <th>Start at
      <%= link_to image_tag("down_arrow_btn.png"), current_user, title: "Newest game first" %>
      <%= link_to image_tag("up_arrow_btn.png"), params.permit!.merge(order: "older_first") ,title: "Oldest game first" %>
    </th>
    <th>Level
      <%= link_to image_tag("down_arrow_btn.png"), params.permit!.merge(order: "lower_level_first"), title: "Lowest level first" %>
      <%= link_to image_tag("up_arrow_btn.png"), params.permit!.merge(order: "higher_level_first"), title: "Highest level first" %>
    </th>
    <th>Finished
      <%= link_to image_tag("checked_btn.png"), params.permit!.merge(order: "finished_first"), title: "Finished games first" %>
      <%= link_to image_tag("unchecked_btn.png"), params.permit!.merge(order: "unfinished_first"), title: "Unfinished games first"%>
    </th>
  </tr>
  <% @games.each do |game|%>
    <tr>
      <td><%= game.created_at.strftime("%m-%d-%Y  %H:%M ") %></td>
      <td><%= game.level %></td>
      <td>
        <% if game.finished %>
          Yes
        <% else %>
          No
        <% end %>
      </td>
      <td><%= link_to "Show game", game_path(game) %></td>
    </tr>
  <% end %>
</table>
<div class="paginating">
  <%= will_paginate @games %>
</div>
