
<%= form_tag do %>
  <% @game.questions.each_with_index do |question, i| %>
    <div class="col-sm-4" >
      <div class="card answers" style="width: 26rem">
        <!-- <h1 class="text"> Question <%= i + 1 %> </h1> -->
        <% if @game.level == 2 %>
          <div class="cover_answer_lvl_2"></div>
          <div class="cover_answer_lvl_2_1"></div>
        <% elsif @game.level == 3 %>
          <div class="cover_answer_lvl_3"></div>
          <div class="cover_answer_lvl_3_1"></div>
          <div class="cover_answer_lvl_3_2"></div>
        <% end %>
        <%= image_tag question.correct_answer.car.image.url, width: 260%>
        <% question.answers.each do |answer| %>
          <div class="card-text">
            <label class="answer_button">
              <%= radio_button_tag("answers[#{question.id}]", answer.id, answer.checked, class: "answer_text") %>
              <%= label("answer", answer.car.brand + " " + answer.car.model, class: "answer_text") %>
            </label>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
  <p> Your score: <%= @game.score %> </p>
  <p>
    <%= submit_tag "Result", class: "btn-primary" %>
  </p>

<% end %>
<p id="notice_#{question.id}"><strong><%= notice %></strong></p>
