
<%= form_tag do %>
  <% @game.questions.each_with_index do |question, i| %>
    <div class="col-sm-4" >
      <div class="card answers" style="width: 26rem">
        <!-- <h1 class="text"> Question <%= i + 1 %> </h1> -->
          <%= image_tag question.correct_answer.car.image.url, width: 260%>
          <% question.answers.each do |answer| %>
            <div class="card-text">
              <%= radio_button_tag("answers[#{question.id}]", answer.id, answer.checked, class: "answer_text btn") %>
              <%= label("answer", answer.car.brand + " " + answer.car.model, class: "answer_text") %>
            </div>
          <% end %>
      </div>
    </div>
  <% end %>
  <p>
    <%= submit_tag "Result", class: "btn-primary" %>
  </p>

<% end %>
<p id="notice_#{question.id}"><strong><%= notice %></strong></p>
