<div class='wrapper_title_small'>
  <div>
    <h2>Choose your level</h2>
  </div>
</div>
<div class='wrapper'>
  <div>
    <%= form_for @game do |f| %>
      <label class="level_button">
        <%= f.radio_button :level , "1" %>
        <%= f.label "1" %>
      </label>
      <label class="level_button">
        <%= f.radio_button :level , "2" %>
        <%= f.label "2" %>
      </label>
      <label class="level_button">
        <%= f.radio_button :level , "3" %>
        <%= f.label "3" %>
      </label>
      <div>
        <%= f.submit "Create Game", class: "btn-primary" %>
      </div>
    <% end %>
  </div>

</div>
