<h1> Game </h1>

<%= form_tag do %>
  <% @questions.each_with_index do |question, i| %>
    <h2> Question <%= i + 1 %> </h2>
    <% question.answers.shuffle.each do |answer| %>
    <div>
      <%= radio_button_tag("answers[#{question.id}]", answer.id, (params["#{question.id}"] == "#{answer.id}")) %>
      <%= label("answer", answer.car.brand + " " + answer.car.model) %>

    </div>
    <% end %>

  <% end %>
  <p>
    <%= submit_tag("Result") %>
  </p>
<% end %>
<p id="notice_#{question.id}"><strong><%= notice %></strong></p>
