<div>
  <h1> list of all cars </h1>
  <%= link_to "Add new car", new_car_path %>
  <%= link_to "Back to Main Page", games_path %>
</div>

<% @cars.each do |car| %>
  <div class="col-sm-4 center_of_application" >

    <div class="card">
      <%= link_to image_tag(car.image.url), car_path(car) %>
      <h1 class="text">
        <%= car.brand %>
        <%= car.model %>

      </h1>
      <h2 class="animate-text"> <%= car.year %> </h2>
    </div>
  </div>
<% end %>
