<% if current_user.admin? %>
  <%= link_to image_tag("add_btn.png"), new_car_path, id: "hamburger_new_car" %>
<% end %>

<div id="wrapper_list_of_cars">
  <h1> List of all cars </h1>
</div>
<% @cars.each do |car| %>
  <div class="col-sm-4" >

    <div class="card" style="width: 26rem;">
      <%= link_to image_tag(car.image.url, width: 260), car_path(car) %>
      <div class="card-block">
        <h4 class="card-title">
          <%= car.brand %>
          <%= car.model %>
        </h4>
        <p class="card-text"><%= car.year %></p>
      </div>
    </div>
  </div>
<% end %>
<div class="paginating">
  <%= will_paginate @cars %>
</div>
