<% if current_user.admin? %>
  <%= link_to image_tag("add_btn.png"), new_car_path, id: "hamburger_new_car" %>
  <%= link_to image_tag("update_btn.png"), new_car_path, id: "hamburger_update_car" %>
  <%= link_to image_tag("delete_btn.png"), car_path(@car), method: :delete, data: { confirm: " Are you sure?"}, id: "hamburger_delete_car" %>
<% end %>

<%= link_to "back to all cars", cars_path %>
<div class="container">
  <div class="row">
    <div class="col-sm-5" >
      <p>
        <%= image_tag @car.image.url, width: 400, class: "car_image" %>
      </p>
    </div>
    <div class="col-sm-3" >
      <p> <strong>Car Brand: </strong>
        <%= @car.brand %>
      </p>

      <p> <strong>Model: </strong>
        <%= @car.model %>
      </p>

      <p> <strong>Year: </strong>
        <%= @car.year %>
      </p>

      <p> <strong>Body style: </strong>
        <%= @car.body_style %>
      </p>

      <p> <strong>Segment: </strong>
        <%= @car.segment %>
      </p>
    </div>
  </div>
</div>
